<center><h3>Welcome to ibnBattuta</h3></center>
<p>The lergest Arab aggregator website where you can find all the reviews/ ratings/ location and more about any category you need!</p>
<p>Sign up today via FB/ Twetter in order to review and rate categories.</p>

